In [2]:
import pandas as pd
import os

In [3]:
#crate variable path to access the data, create df from reading the data, view new dataframe
purchaseData = os.path.join("Resources","purchase_data.csv")
pData_df = pd.read_csv(purchaseData, encoding="utf-8")
pData_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
#player count and dataframe
totalPlayers = len(pData_df["SN"].unique())
totalPlayers_df = pd.DataFrame({
    "Total Players":[totalPlayers]
})
totalPlayers_df

   Total Players
0            576

In [5]:
#purchasing analysis
#create variables to include in new dataframe
unique_items = len(pData_df["Item ID"].unique())
avg_price = pData_df["Price"].mean()
total_purchases = pData_df["Purchase ID"].count()
total_rev = pData_df["Price"].sum()

In [187]:
#create dataframe to show purchase information
PurchaseAnalysis_df = pd.DataFrame({
    "# Items" : [unique_items],
    "Avg Price" : [avg_price],
    "# Purchases": [total_purchases],
    "Total $": [total_rev]
})
PurchaseAnalysis_df.style.format(formatter={"Total $":"${:.2f}",
                                            "Avg Price":"${:.2f}"})

In [10]:
#gender demographics start
#original dataframe to see headers and data
pData_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [251]:
#group by gender, then get the unique count of players by gender
ggroup = pData_df.groupby("Gender")
gcount = ggroup["SN"].nunique()
gcount

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [233]:
#create new dataframe with the created variables above to show the player count and percentage by group
gender_data_df = pd.DataFrame({
    "Total Count": gcount,
    "Percentage of Players": gcount / totalPlayers * 100
})
gender_data_df
gender_data_df.style.format(formatter={"Percentage of Players":"{:.2f}%"})

In [243]:
#purchasing analysis gender
#group the original data fram by gender and create a new data frame
gendergroup_df= pData_df.groupby("Gender")
avg_g_price = gendergroup_df["Price"].mean()
num_g_purchases = gendergroup_df["Purchase ID"].count()
total_g_value = gendergroup_df["Price"].sum()

In [252]:
#take the variables above and create dataframe for gender groups
gendergroup_df = pd.DataFrame({
    "num purchases" : num_g_purchases,
    "avg price" : avg_g_price,
    "total rev" : total_g_value,
    "ave total per person" : total_g_value / gcount
})
gendergroup_df.style.format(formatter={"avg price":"${:.2f}",
                                       "total rev":"${:.2f}",
                                        "ave total per person":"${:.2f}"})

In [236]:
#checking max value in age to create bins
pData_df["Age"].max()

45

In [259]:
#age demographics, create bins then add a new column with the bins to the dataframe
bins = [0,9,14,19,24,29,34,39,49]
bin_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
p_age_data_df = pData_df
p_age_data_df["Age Groups"] = pd.cut(p_age_data_df["Age"], bins,labels=bin_labels,include_lowest=True)
p_age_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Groups
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [260]:
#age demographic, group age datafram by bins, find number of players by SN unique, create new dataframe
age_count_df = p_age_data_df.groupby("Age Groups")
num_a_players = age_count_df["SN"].nunique()
age_dem_df = pd.DataFrame({
    "Total Count": num_a_players,
    "Percentage Of Players" : num_a_players / totalPlayers * 100
})
age_dem_df.style.format(formatter={"Percentage Of Players":"{:.2f}%"})

In [262]:
#purchasing analysis for age, create variables for each column, the create new dataframe
age_total = age_count_df["Purchase ID"].count()
age_avg_price = age_count_df["Price"].mean()
age_tot_price = age_count_df["Price"].sum()
avg_tot_person = age_count_df["Price"].sum() / num_a_players
age_group_df = pd.DataFrame({
    "# Purchases": age_total,
    "avg price": age_avg_price,
    "Total Value": age_tot_price,
    "avg total per person": avg_tot_person
})
age_group_df = age_group_df.dropna()
age_group_df.style.format(formatter={"avg price":"${:.2f}",
                                    "Total Value":"${:.2f}",
                                    "avg total per person":"${:.2f}",
                                    })

In [142]:
spender_grouped = pData_df.groupby("SN")
spenders_total = spender_grouped["Price"].sum()
spenders_count = spender_grouped["SN"].count()
spenders_avg = spenders_total / spenders_count

In [245]:
spenders_grouped_df = pd.DataFrame({
    "purchase count": spenders_count,
    "avg price": spenders_avg,
    "Total Price": spenders_total
})
spenders_top_five_df = spenders_grouped_df.sort_values(["Total Price"], ascending=False).head(5)
spenders_top_five_df.style.format(formatter={"Total Price":"${:.2f}",
                                            "avg price":"${:.2f}"})

In [241]:
#most popular items
items_grouped = pData_df.groupby(["Item ID", "Item Name"])
items_purchased = items_grouped["Purchase ID"].count()
item_price = items_grouped["Price"].mean(0)
items_total_value = items_grouped["Price"].sum()
items_groupedby_df = pd.DataFrame({
    "count": items_purchased,
    "item price": item_price,
    "total purchase value": items_total_value
})
items_groupedby_df.sort_values(["count"], ascending=False).head(5)
items_groupedby_df.head(5).style.format(formatter={"item price":"${:.2f}",
                                            "total purchase value":"${:.2f}"})

In [186]:
#most profitable items
items_totalvalue_df = items_groupedby_df.sort_values(["total purchase value"], ascending=False).head(5)
items_totalvalue_df.style.format(formatter={"item price":"${:.2f}",
                                            "total purchase value":"${:.2f}"})