In [2]:
import pandas as pd
import os

In [3]:
#crate variable path to access the data, create df from reading the data, view new dataframe
purchaseData = os.path.join("Resources","purchase_data.csv")
pData_df = pd.read_csv(purchaseData, encoding="utf-8")
pData_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
#player count and dataframe
totalPlayers = len(pData_df["SN"].unique())
totalPlayers_df = pd.DataFrame({
    "Total Players":[totalPlayers]
})
totalPlayers_df

   Total Players
0            576

In [5]:
#purchasing analysis
#create variables to include in new dataframe
unique_items = len(pData_df["Item ID"].unique())
avg_price = pData_df["Price"].mean()
total_purchases = pData_df["Purchase ID"].count()
total_rev = pData_df["Price"].sum()

In [9]:
#create dataframe to show purchase information
PurchaseAnalysis_df = pd.DataFrame({
    "# Items" : [unique_items],
    "Avg Price" : [avg_price],
    "# Purchases": [total_purchases],
    "Total $": [total_rev]
})
PurchaseAnalysis_df

   # Items  Avg Price  # Purchases  Total $
0      179   3.050987          780  2379.77

In [10]:
#gender demographics start
#original datafram to see headers and data
pData_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [96]:
#create variables for gender calculations
gender_count = pData_df["Gender"].value_counts()
num_males = gender_count["Male"]
num_females = gender_count["Female"]
num_other = gender_count["Other / Non-Disclosed"]

780

In [97]:
#create gender data dataframe for variables in previous step
gender_data_df = pd.DataFrame({
    "males":[num_males],
    "percent males":[num_males / total_purchases],
    "females":[num_females],
    "percent females":[num_females / total_purchases],
    "other / non-disclosed": [num_other],
    "percent other / non-disclosed": [num_other / total_purchases]
})
gender_data_df

,males,percent males,females,percent females,other / non-disclosed,percent other / non-disclosed
0,652,0.835897,113,0.144872,15,0.019231

In [78]:
#purchasing analysis gender
#group the original data fram by gender and create a new data frame
gendergroup_df= pData_df.groupby("Gender")
gendergroup_df.count()

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [88]:
# calculate the mean of the price for the group by
avg_g_price = gendergroup_df.mean()["Price"]
avg_g_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [90]:
# count number of purchases per group
num_g_purchases = gendergroup_df["Purchase ID"].count()
num_g_purchases

In [94]:
#total the revenue for each group
total_g_value = gendergroup_df["Price"].sum()
total_g_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [95]:
#take the variables above and create dataframe for gender groups
gendergroup_df = pd.DataFrame({
    "num purchases" : num_g_purchases,
    "avg price" : avg_g_price,
    "total rev" : total_g_value
})
gendergroup_df

                       num purchases  avg price  total rev
Gender
Female                           113   3.203009     361.94
Male                             652   3.017853    1967.64
Other / Non-Disclosed             15   3.346000      50.19